.productTable {
    line-height: 50px;
}

.tableStatusActive {
    color: #1b712a;
    border-radius: 50px;
    font-weight: bold;
}

.tableStatusInactive {
    border-radius: 50px;
    color: #721c1c;
    font-weight: bold;
}